@import './variables.scss';
.gallery-container {
  background: addColor(use);
  min-height: 100vh;
   box-sizing: border-box;
   padding-top: 4rem;
  div {
    position: relative;
  }

  header {
    h2 {
      font-variant: small-caps;
      text-align: center;
      color: addColor(main-color);
      font-weight: bolder;
      font-size: 2rem;
    }
  }
}

