@import './variables.scss';
.gallery-container {
  background: addColor(use);
  min-height: 100vh;
   box-sizing: border-box;
   padding-top: 4rem;
  div {
    position: relative;
  }

  header {
    h2 {
      font-variant: small-caps;
      text-align: center;
      color: addColor(main-color);
      font-weight: bolder;
      font-size: 2rem;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  // align-self: center;
  // justify-content: center;
  align-items: center;
  .form-container {
    display: flex;
    background: addColor(main-color);
    padding: .3rem 1rem;
    border-radius: 20px;
    @include desktop() {
      padding: .5rem 1rem;
    }
    input {
      border: none;
      outline: none;
      text-align: center;
      background: none;
      color: addColor(use);
      width: 200px;
      font-size: 1.1rem;
      &::placeholder {
        color: addColor(use);
      }
      @include desktop() {
        width: 300px;
      }
    }
    .search-btn {
      cursor: pointer;
    }
  }
}