@import './variables.scss';
.gallery-container {
  background: addColor(use);
  min-height: 100vh;
   box-sizing: border-box;
   padding-top: 4rem;
  section {
    position: relative;
  }

  header {
    h2 {
      font-variant: small-caps;
      text-align: center;
      color: addColor(main-color);
      font-weight: bolder;
      font-size: 2rem;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  button {
    outline: none;
    color: addColor(use);
    border: none;
    background: addColor(main-color);
    border-radius: 10px;
    padding: .7rem 1.5rem;
    font-weight: bolder;
    margin: 1.5rem 2rem;
    cursor: pointer;
    transition: transform .5s;
    box-shadow: 0 0 5px #888;
    &:hover {
      transform: translateY(-10px);
    }
    &:active {
      transform: scale(.9);
    }
    span {
      margin: 0 .5rem;
    }
  }
}

.page-count {
  background: addColor(main-color);
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #888;
  span {
    color: addColor(use);
    font-size: bolder;
  }
}

.hide-btn {
  z-index: -10;
}

