@import './variables.scss';

.container {
  background: addColor(use);
  .landing-page {
    width: 100%;
    min-height: 60vh;
    box-sizing: border-box;
    padding-top: 2rem;
    background: addColor(main-color);
    display: flex;
    flex-direction: column;
    @include desktop() {
      flex-flow: row-reverse;
      height: 100vh;
      justify-content: space-between;
    }

    .landing-page-content {
      // background: #fff;
      padding: 0.5rem 1.5rem;
      @include desktop() {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      p {
        color: addColor(sub-color);
        line-height: 1.7;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }
}

section {
  h2 {
    font-variant: small-caps;
    font-weight: bold;
    color: addColor(main-color);
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
  }
  .btn-case {
    display: flex;
    flex-direction: row-reverse;
  }
  button.show-more {
    background: none;
    outline: none;
    color: addColor(main-color);
    border: 3px solid addColor(main-color);
    border-radius: 10px;
    padding: .6rem 1rem;
    font-weight: bolder;
    margin: 1.5rem 2rem;
    &:hover {
      background: addColor(main-color);
      color: addColor(use);
    }
  }
}

.install-btn {
  display: flex;
  flex-direction: row-reverse;
  margin: .6rem .6rem 0 .6rem;
  cursor: pointer;
  button {
    display: none;
    background: addColor(main-color);
    color: addColor(use);
    border: none;
    outline: none;
    padding: .6rem 1.5rem;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1rem;
    span {
      margin-left: 1rem;
      font-size: 1rem;
      text-align: center;
    }
  }
}