@import './variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  color: addColor(sub-color);
  z-index: 5;
  position: fixed;
  width: 100%;
  .nav-links {
    cursor: pointer;
    font-weight: bold;
    position: relative;
    .link-bg {
      position: absolute;
      right: 0px;
      width: 250px;
      height: 55px;
      z-index: -1;
      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 2px;
        top: 0;
      }
    }
    .links-ctn {
      padding: .9rem .5rem;
    }
  }

  .link {
    color: addColor(sub-color);
    text-decoration: none;
    margin: 0 1rem;
  }

  .logo {
    width: 10px;
    height: 50px;
    position: relative;
    z-index: 2;
    .logo-bg {
      position: absolute;
      top: 0;
      width: 300px;
      height: 50px;
      z-index: -1;
      svg{
        width: 100%;
        height: 100%;
      }
    }
  }
}