@import './variables.scss';

.recipe-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .card {
    @include desktop() {
      width: 350px;
      padding: 0.5rem;
      margin: 2rem;
      height: 450px;
    }
    width: 90%;
    background: addColor(main-color);
    color: addColor(sub-color);
    margin: 1rem auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 8px #888;
    .recipe-image {
      @include desktop() {
        width: 100%;
        margin: 0;
        padding-top: 0;
        height: 50%;
      }
      height: 50%;
      width: 95%;
      margin: 0rem auto;
      padding-top: .5rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .recipe-btn {
      background: none;
      border: 2.5px solid addColor(use);
      outline: none;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      color: #fff;
      margin: 1rem 0;
      cursor: pointer;
      transition: transform .5s;
      &:hover {
        background: addColor(use);
        color: addColor(main-color);
        transform: translateY(-7px);
      }
      &:active {
        transform: scale(.9);
      }
    }
  }
}
.link {
  color: addColor(sub-color);
  text-decoration: none;
}