@import './variables.scss';

.container {
  background: addColor(sub-color);
  // width: 100vh;
  height:100vh;
  .landing-page {
    width: 100%;
    height: 50vh;
    padding-top: 2rem;
    background: addColor(main-color);
    @include desktop() {
      height: 100vh;
    }
  }

  Nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  RecipeList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}