@import './styles/variables.scss';

.App {
  overflow-x: hidden;
}

.svg {
  svg {
    width: 140px;
    height: 50px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: addColor(main-color);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: addColor(minor-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: addColor(use);
}